.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  width: 100%;
  margin-top: 8px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 5px;
  background: rgba(229, 229, 229, 0.8);
  border-radius: 20px;
  box-shadow: 3px 3px 3px;
}

th {
  font-size: 22px;
  font-weight: 300;
  padding: 12px 10px;
  border-bottom: 2px solid #336af5;
  color: #336af5;
}

tbody tr:nth-child {
  border-bottom: 2px solid #336af5;
}

td {
  padding: 10px;
  color: rgb(110, 99, 89);
}

td::first-letter{
  text-transform: uppercase;
}